# --- Global Standard Libs (Always needed) ---
exceptions:setjmp
debugger:native
linedir:on
threads:on
define:useMalloc
define:openmp
define:danger

cc:clang

passL:"-lm"
passL:"-lrt"
passL:"-lpthread"
passL:"-ldl"
passL:"-fopenmp"


@if bundle:
  # --- Bundles HTSlib only ---
  debuginfo:off
  dynlibOverride:"hts"
  passL:"/home/andyjasonowicz/build/fst-gl/static-build/lib/libhts.a"
  passL:"/home/andyjasonowicz/build/fst-gl/static-build/lib64/libdeflate.a"
  passL:"-lz"
  passL:"-lbz2"
  passL:"-llzma"
@end


@if release:  
  # --- Static Release Overrides ---
  debuginfo:off
  dynlibOverride:"hts"
  dynlibOverride:"z"
  dynlibOverride:"bz2"
  dynlibOverride:"lzma"
  
  passL:"/usr/lib64/libhts.a"
  passL:"/usr/lib64/libdeflate.a"
  passL:"/usr/lib64/libz.a"
  passL:"/usr/lib64/libbz2.a"
  passL:"/usr/lib64/liblzma.a"

  passL:"-s"
@end


